.padd{
  padding: 1em;
}
.padd-ing{
  padding-top: 1em;
}
.title{
  padding-right: 25px;
  font-size: 14px;
  font-weight: 500;
  color: #a4b6e1;
}
.title_active{
  color: #b081fe;
}
.feed_img{
  padding: 2px ;
  border: 3px solid white;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.img_feed_person{
border-radius: 50%;
border: 3px solid white;
}
.name{
  font-weight: 600;
}
.icon_feed{
  cursor: pointer;
  font-size: 22px;
  color: #a4b6e1;
}
.fa-heart{
  color: #ff5775;
}
.clicked:active{
  color: #ff1a44;
  zoom: 1.1;
}
.user_select{
  user-select: none;
}
