<div class="container-fluid padd">
  <div class="row">
    <div class="col-md-3">
      <h6>Feeds</h6>
    </div>

    <div class="col-md-5"></div>
    <div class="col-md-4">
      <span>
        <span class="title">All</span><span class="title">Following</span
        ><span class="title title_active">Newest</span>
        <span class="title">Popular</span></span
      >
    </div>
  </div>
  <div class="row padd">
    <div class="col-md-6">
      <div class="feed">
        <img
          src="../../../assets/images/a.jpg"
          width="100%"
          class="feed_img"
          alt=""
        />
        <div class="row padd-ing">
          <div class="col-md-6">
            <img
              src="../../../assets/images/profile2.jpg"
              width="20%"
              alt=""
              class="img_feed_person"
            />
            <span class="name"> Dean Smith</span>
          </div>
          <div class="col-md-3">
            <span class="icon_feed clicked" (click)='addLikes()'>  <i class="fas fa-heart fa-fw"></i></span>
            {{number_of_likes}}
          </div>
          <div class="col-md-3">
            <span class="icon_feed"> <i class="fas fa-comment fa-fw"></i></span>
            15
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
