<div class="container-fluid padd">
  <div class="row">
    <div class="col-md-2">
      <div class="story align-center">
        <img
          src="../../../assets/images/profile1.jpg"
          width="80%"
          alt=""
          style="opacity: 0.7;"
          class="img_story_vue"
        />

        <h6 class="name">You</h6>
      </div>
    </div>
    <div class="col-md-2">
      <div class="story align-center">
        <img
          src="../../../assets/images/profile3.jpg"
          width="80%"
          alt=""
          class="img_story_vue"
        />

        <h6 class="name">Dean</h6>
      </div>
    </div>
    <div class="col-md-2">
      <div class="story align-center">
        <img
          src="../../../assets/images/profile2.jpg"
          width="80%"
          alt=""
          class="img_story_non_vue"
        />

        <h6 class="name">Supardi</h6>
      </div>
    </div>

    <div class="col-md-2">
      <div class="story align-center">
        <img
          src="../../../assets/images/profile2.jpg"
          width="80%"
          alt=""
          class="img_story_non_vue"
        />

        <h6 class="name">Jesse</h6>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
  </div>
</div>
<hr />
