<img src="../../assets/images/google-logo.png" width="50%" alt="logo" class="logo_image" />
<span class="logo_title"> <span class="g_capital">G</span>oogle It </span>

<h6 style="
padding: 12px;font-weight: 600;
">Menu</h6>
<!-- <hr /> -->
<p class="p_active"><i class="fas fa-icon fa-home fa-fw"></i> Home</p>
<p class="p_inactive"><i class="fas fa-icon fa-comment fa-fw"></i> Messages</p>
<p class="p_inactive"><i class="fas fa-icon fa-user fa-fw"></i> Profile</p>
<p class="p_inactive"><i class="fas fa-icon fa-bookmark fa-fw"></i> Saved Posts</p>
<p class="p_inactive"><i class="fas fa-icon fa-cog fa-fw"></i> Settings</p>
<br />

<h6 style="
font-weight: 600;
">Account</h6>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5" style="
    text-align: right;
">
      <img
        src="../../assets/images/profile1.jpg"
        width="80%"
        class="image_profile"
        alt=""
      />
    </div>
    <div class="col-md-7" style="
    text-align: left;
">
      <p>
        Micheal <br />
        <span class="username">@micheal_07</span>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="../../assets/images/free-medical-pattern-vector.png" class="img_get_our_app" alt="">
    </div>
  </div>
</div>

