<img src="../../assets/images/google-logo.png" width="50%" alt="logo" />
<span class="logo_title"> Google It </span>

<h6>Menu</h6>
<hr />
<p><i class="fas fa-icon fa-home fa-fw"></i> Home</p>
<p><i class="fas fa-icon fa-comment fa-fw"></i> Messages</p>
<p><i class="fas fa-icon fa-user fa-fw"></i> Profile</p>
<p><i class="fas fa-icon fa-bookmark fa-fw"></i> Saved Posts</p>
<p><i class="fas fa-icon fa-cog fa-fw"></i> Settings</p>
<br />
<br />
<h6>Account</h6>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <img
        src="../../assets/images/profile1.jpg"
        width="100%"
        class="image_profile"
        alt=""
      />
    </div>
    <div class="col-md-7">
      <p>Micheal <br> <span class="username">@micheal_07</span></p>

    </div>
  </div>
</div>

<hr />
