/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Poppins", sans-serif;
  color: #25396f;
}
.align-center{
  text-align: center;
}
.float_left{
  float: left;
}
.float_right{
  text-align: right;
}

button:hover{
  cursor: pointer;
}
